#p1{
    font-family:sans-serif;
    font-weight: 900;
}
#p2{
    font-family:Verdana;
    background-color: blueviolet;
    color: yellow;
    border-style: solid;
    border-color: darkorange;
}
.p1{
    font-size: xx-large;
    font-family: cursive;
    color: teal;
    text-decoration:wavy;
    text-transform: uppercase;
    border-style:double;
    border-color:brown;

}
.p2{
    font-family:fantasy;
    font-size: xx-small;
    color: darkturquoise;
}
body{
    text-align: center;
}
#logo{
    height:40px;
    width:200px;
}
#bt2{
    background-color:deeppink;
    color: antiquewhite;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-width: 3px;
    border-color: cadetblue;
    border-radius: 7px;
    
}

#bt2:hover{
    background-color: black;
}

iframe{
    border-radius: 20px;
}

header{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
nav{
    display: flex;
    gap:30px;

}
#bts{
    display: flex;
    gap:30px;
    flex-wrap: wrap;
    justify-content: center;
}